.pic-section {
    /* background-image: url("/assets/images/background/top-left.jpeg");  */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1200px;
}