#about-me {
    border: 1px solid #fda387;
    padding: 7%;
    border-radius: 20px;
}

#about-me-container {
    margin-top: 520px;
    margin-bottom: 100px;
    padding-top: 30px;
}

@media only screen and (min-width: 769px) {
    #about-me-container {
        margin-top: 450px;
        padding-top: 200px;
        width: 65%;
        padding-left: 35%;
    } 
}


